<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{896,157},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{256,0},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{384,0},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{512,0},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{640,0},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{768,0},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{896,0},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{0,157},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bamboo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{128,157},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chrysanthemum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{256,157},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{384,157},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>error_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{512,157},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{640,157},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{768,157},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nroth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{0,314},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{128,314},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{256,314},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{384,314},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{512,314},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{640,314},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{768,314},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{896,314},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{0,471},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{128,471},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{256,471},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{384,471},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{512,471},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{640,471},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{768,471},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{896,471},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{0,628},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{128,628},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{256,628},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{384,628},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{512,628},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{640,628},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{768,628},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{896,628},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{0,785},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{128,785},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{256,785},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{1024,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8818437f8e17a47890d278a9f905450:44689e2fc8dce2ea7961d43a105ab632:a73c72aca107c42120aa7eba166486e5$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
