<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DC_shengji1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{120,110},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{160,110},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji1002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji1003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji1004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{120,0},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji1005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{160,0},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji1006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{200,0},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji1007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{0,110},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji1008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{40,110},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DC_shengji1009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{80,110},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shengji.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b5095a32aaaae5ed979cc435bf346c7:efbc761423aad78dc07a1f9e565c7247:0976de887cdcb6badf1ff6eb88fb50e5$</string>
            <key>textureFileName</key>
            <string>shengji.png</string>
        </dict>
    </dict>
</plist>
